/* ///////////////////     CSS MERN-GESTION-HERRAMIENTAS ///////////////////////////////////////// */

.gestion-herramientas {
  background-color: gray;
}

.gestion-herramientas .encabezado {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin: 2rem;
  justify-content: space-around;
}

.gestion-herramientas .encabezado p {
  cursor: pointer;
  padding: 1rem;
}

.gestion-herramientas .encabezado p:hover {
  border-bottom: solid 1px black;
}

.gestion-herramientas .button {
  border: solid 1px black;
  cursor: pointer;
  width: 100%;
  margin: 1rem 1rem 2rem 1 rem;
}

.gestion-herramientas .Table {
  display: grid;
  grid-template-columns: 20vw 40vw 40vw ;
  column-gap: 1fr;
}

.gestion-herramientas .column-1 {
  margin: 0.5rem;
  background-color: white;
}

.gestion-herramientas .column-2 {
  margin: 0.5rem;
  background-color: white;
}

.gestion-herramientas .column-3 {
  margin: 0.5rem;
  background-color: white;
}

.gestion-herramientas .list-item {
  cursor: pointer;
}

.gestion-herramientas .AddSomething {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.gestion-herramientas .AddSomething textarea {
  padding-bottom: 40px;
  margin-bottom: 30px;
  width: 100%;
}


.gestion-herramientas .AddSomething button {
  padding: 10px;
  background-color: green;
  font-size: 1rem;
  text-transform: uppercase;
  font-family: sans-serif;
  color: white;
  border-color: transparent;
  cursor: pointer;
  align-self: center;
}

.gestion-herramientas .AddSomething input {
  width: 100%;
  margin-bottom: 10px;
}

.gestion-herramientas .AddSomething h2 {
  font-size: 1rem;
  margin-bottom: 2px;
}

.gestion-herramientas .AddSomething button,
.gestion-herramientas .AddSomething textarea,
.gestion-herramientas .AddSomething input,
.gestion-herramientas .AddSomething h2 {
  display: block;
}


